.sliderWrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  position: relative;
}
.slideText {
  z-index: 100;
  color: aliceblue;
  align-items: flex-start;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 90%;
  padding: 30px;
}
.slideText h2 {
  margin: 0;
}
.slideText span {
  font-size: 20px;
  font-weight: 100;
}
.homeSlider .swiper-button-prev {
  background-color: beige;
  color: black;
}
.btnContainer {
  display: flex;
  width: 100%;
  height: 30vh;
  align-items: center;
  justify-content: center;
}
.btnComprar {
  padding: 20px;
  font-size: 25px;
  background-color: #33135c;
  color: #fff;
  border-radius: 10px;
  opacity: 0.85;
  transition: all 0.5s;
}
.btnComprar:hover {
  opacity: 1;
}
.aboutContactSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  gap: 30px;
}
.aboutContactSection h3 {
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
.aboutContactSection p {
  font-size: 18px;
}
.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 50vh;
  opacity: 0.9;
}
.galleryImage {
  opacity: 0.8;
  transition: all 0.5s;
}
.galleryImage:hover {
  opacity: 1;
}
